body {
  background-color: white;
  color: black;
  font-family: Verdana;
  text-align: center
}
li {
  width: 200px;
  margin: 0 auto;
  text-align: left
}
.footer {
  position: relative;
  bottom: 0px;
  text-align: center;
  width: 100%
}
